:root {
    --selected-blue: #d2e4f9;
    --selected-red: #fecbcf;
    --selected-yellow: #fbeed1;
    --selected-orange: #fedecd;
    --selected-pink: #f8cde6;
    --selected-green: #cde7e2;
    --selected-purple: #e1d2f9;
    --primary-text: #1a1916;
    --body-bg: #fafafa;
    --body-color: #555;
    --link-color: #222;
    --link-color-hover: #000;
    --nav-bg: #f5f5f5;
    --audio-bg: rgba(255, 255, 255, 1.00);
    --title-color: ;
    --transcript-bg: ;
    --transcript-ol: ;
    --select-bg: ;

}

/* dark theme */
[data-theme="dark"] {
    /* @media (prefers-color-scheme: dark) { */
    /* :root { */
    --body-bg: rgba(47, 52, 55, 1.00);
    --body-color: #e7e7e7;
    --link-color: #dee2e6;
    --link-color-hover: #fff;
    --nav-bg: rgba(55, 60, 63, 1.00);
    --audio-bg: ;
    --title-color: #ebebeb;
    --transcript-bg: ;
    --transcript-ol: ;
    --select-bg: #25282a;
    --icon-color: #8f9295;
    --drop-bg: #3f4447;
    --selected-blue: #487089;
    --selected-red: #9f5b58;
    --selected-yellow: #9f914a;
    --selected-orange: #9f7346;
    --selected-pink: #904c74;
    --selected-green: #457771;
    --selected-purple: #6c5990;
    --primary-text: #1a1916;
}

.scroller {
    scrollbar-color: rebeccapurple green;
}

.drop-content {
    background-color: var(--drop-bg) !important;
}

.icon {
    color: var(--icon-color);
}

.title,
.content {
    color: var(--title-color);
}

.navbar,
.is-light {
    background-color: var(--nav-bg);
    color: var(--body-color);
}

a,
.navbar-time {
    color: var(--body-color) !important;
}

#hypertranscript {
    background-color: var(--transcript-bg);
    color: var(--body-color);
}

select,
.select,
input {
    background-color: var(--select-bg) !important;
    border-color: var(--select-bg) !important;
    color: var(--body-color) !important;
}

label {
    color: var(--body-color);
}

svg path {
    fill: var(--icon-color);
}

div .controls {
    color: var(--body-color);
}

.select::after {
    border-color: var(--icon-color) !important;
}

.accordion {
    background-color: var(--body-bg);
}

.green-audio-player {
    background-color: var(--nav-bg);
}

::selection {
    background: rgba(0, 210, 179, 0.3);
    /* WebKit/Blink Browsers */
}

html,
body {
    height: 100%;
    background-color: var(--body-bg);
}

.full-height {
    height: 100%;
}

/* don't allow tags to be editable over multiple lines */
.single-line {
    overflow: hidden;
}

/* highlight shadow effect on category selection */
@keyframes highlightt {
    0% {
        -webkit-box-shadow: 0px 0px 8px 4px rgba(184, 184, 184, 0.61);
        -moz-box-shadow: 0px 0px 8px 4px rgba(184, 184, 184, 0.61);
        box-shadow: 0px 0px 8px 4px rgba(184, 184, 184, 0.61);
    }

    100% {}
}

.highlightt {
    animation: highlightt 3s;
}

.panel {
    min-height: 50px;
}

/* for tag anchor text */
.grey {
    color: rgba(0, 0, 0, 0.7) !important;
}

.drop-content {
    max-width: 250px;
}

.annotation-section {
    height: 100%;
    overflow-y: scroll;
}

[contenteditable="true"].single-line br {
    display: none;
}

.no-right-padding {
    padding-right: 0px;
}

.green-audio-player {
    min-width: 350px;
}

.full-width {
    width: 100%;
}

.accordion {
    cursor: pointer;
    padding-bottom: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

/* .active-accordion, .accordion:hover {
    background-color: #ccc; 
    } */

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}


.link {
    color: var(--color-primary);
}

.low-confidence {
    color: rgb(201, 40, 40) !important;
}

.not-interactive {
    color: var(--primary-text) !important;
}

.selected {}

.selected-1 {
    background-color: var(--selected-orange);
}

.selected-2 {
    background-color: var(--selected-yellow);
}

.selected-3 {
    background-color: var(--selected-green);
}

.selected-4 {
    background-color: var(--selected-blue);
}

.selected-5 {
    background-color: var(--selected-purple);
}

.selected-6 {
    background-color: var(--selected-pink);
}

.selected-7 {
    background-color: var(--selected-red);
}

.selected-remove {
    background-color: var(--selected-grey);
}

.button-1 {
    background-color: var(--selected-blue);
}

.button-2 {
    background-color: var(--selected-red);
}

.button-3 {
    background-color: var(--selected-yellow);
}

.button-4 {
    background-color: var(--selected-orange);
}

.button-5 {
    background-color: var(--selected-pink);
}

.button-6 {
    background-color: var(--selected-green);
}

.button-7 {
    background-color: var(--selected-purple);
}

.accordion-category {
    color: #c3d0d8 !important;
    font-weight: 700;
}

.category-1 {
    background-color: var(--selected-orange) !important;
}

.category-2 {
    background-color: var(--selected-yellow) !important;
}

.category-3 {
    background-color: var(--selected-green) !important;
}

.category-4 {
    background-color: var(--selected-blue) !important;
}

.category-5 {
    background-color: var(--selected-purple) !important;
}

.category-6 {
    background-color: var(--selected-pink) !important;
}

.category-7 {
    background-color: var(--selected-red) !important;
}

.annotation-button {
    color: var(--primary-text);
    border: none;
    border-radius: 3px;
    font-size: 11.5pt;
    padding-top: 0px;
    padding-bottom: 0px;
}

.drop-content {
    -webkit-box-shadow: 0px 9px 25px -13px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 9px 25px -13px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 9px 25px -13px rgba(0, 0, 0, 0.57);
    padding: 12px !important;
}

.drop-content::before {
    border-bottom-color: white !important;
}