/* Trint Styles */

#hypertranscript .strikethrough {
  text-decoration: line-through;
}

#hypertranscript .annotation,
#hypertranscript .parannotation {
  opacity: 0.7;
}

#hypertranscript span.highlight-true {
  background-color: rgba(255, 207, 1, 0.36) !important;
}

#hypertranscript span.highlight-blue {
  background-color: rgba(96, 160, 255, 0.36) !important;
}

#hypertranscript span.highlight-green {
  background-color: rgba(90, 171, 0, 0.36) !important;
}

#hypertranscript span.highlight-red {
  background-color: rgba(255, 0, 89, 0.36) !important;
}

#hypertranscript span.highlight-purple {
  background-color: rgba(221, 86, 249, 0.36) !important;
}

#hypertranscript header {
  font-size: 200%;
}

#hypertranscript a {
  cursor: pointer;
  color: #000;
}

#hypertranscript .active ~ span {
  color: #666;
}

#hypertranscript p.active ~ p span {
  color: #666;
}

#hypertranscript span.search-match {
  background-color: rgb(156, 172, 199) !important;
}

#hypertranscript sub:before {
  content: '\231C';
}

#hypertranscript sub.highlight-duration:before {
  content: '\231D';
}

/* drop.js / trint-player-share.js  Twitter Styles */

a.sharelink {
  color: #dddddd;
}

a.sharelink:hover {
  color: #ffffff;
}
