html {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  */
}

body {
  background-color: white;
  font-weight: 100;
}

div:focus {
  outline: none;
}

#page-content {
}

#heading {
  font-size: 20px;
  padding-top: 30px;
}


.l95 {
  color: rgb(223, 172, 7)
}

.l90 {
  color: rgb(211, 56, 89)
}

.speaker-header {
  /* font-weight: bold; */
  /* color: black; */
}

#content {
  color: rgb(165, 165, 165);
  overflow-y:scroll; 
  height:600px; 
  position:relative; 
  border-style:dashed; 
  border-width: 1px; 
  border-color:#999; 
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}



 /* Tooltip container */
 .tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: none;
  /* visibility: visible; */
  opacity: 1;
} 
