@charset "utf-8";

$navbar-breakpoint: 200px;
$section-padding: 1rem 1rem;
$headerHeight: 72px;
$footerHeight: 56px;
$switch-background: var(--switch-bg);
$primary: #21a094;
// $primary: var(--primary);

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-switch/dist/css/bulma-switch.sass";

// @import '../../node_modules/@creativebulma/bulma-collapsible/node_modules/bulma/bulma.sass';

@import "../../node_modules/green-audio-player/dist/css/green-audio-player.min.css";


$tag-orange: #fedecd;
$tag-yellow: #fbeed1;
$tag-green: #cde7e2;
$tag-blue: #d2e4f9;
$tag-purple: #e1d2f9;
$tag-pink: #f8cde6;
$tag-red: #fecbcf;


